@charset "utf-8";

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 100, 400, 600, 900;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



:root{

  /* 메인 컬러 색상 시작 */

  --m-color: #FB4C4F;

  /* 메인 컬러 색상 끝 */


  /* 기본 배경 색상 (어두움) */
  --bg-color: #151515;


  /* 텍스트 컬러 변수 시작 */

  /* 하얀 텍스트 컬러 */
  --f-color01: #fff;

  /* 검정 텍스트 컬러 */
  --f-color02: #111;

  /* 회색 텍스트 컬러 */
  --f-color03 : #888;

  /* 텍스트 컬러 변수 끝 */



  /* 폰트 사이즈 변수 시작 */
  
  --f-size01: 2rem;      /* title 32px */
  --f-size02: 1.75rem;   /* 28px */
  --f-size03: 1.5rem;    /* 24px */
  --f-size04: 1.375rem;  /* 22px */
  --f-size05: 1.25rem;   /* 20px */
  --f-size06: 1.125rem;  /* 18px */
  --f-size07: 1rem;      /* 기본 16px */
  --f-size08: 0.875rem;  /* 14px */
  --f-size09: 0.75rem;   /* 12px */

  --f-size36 : 2.25rem;

  /* 폰트 사이즈 변수 끝 */


}

body{

  font-family: 'Pretendard', '맑은 고딕', Arial, Helvetica, sans-serif;
  
  /* 기본 폰트 사이즈 16px = 1rem */
  font-size: var(--f-size07);

  /* 기본 텍스트 색상 */
  color: var(--f-color02);

}

.flexable {
  display : flex;
}

.hidden {
  display : none;
}