@charset "utf-8";



/* 자주 쓰이는 서식 시작 */

.flexable {
  display : flex;
}

.hidden {
  display : none;
}


/* 1920(전체화면)px 대비 가로 너비 1200px  */
.ctnt_area {
  width : 62.5%;
  margin : 0 auto;
}

/* 섹션 기본 상하 마진 */
.sect_margin{
  margin-top : 50px;
  margin-bottom : 50px;
}




/* 자주 쓰이는 서식 끝 */



body{
  background-color : var(--bg-color);
  color : var(--f-color01);
}




/* 헤더 영역 서식 시작 */

header {
  width : 100%;
  height : 120px;
  border-bottom : 1px solid var(--m-color);
  box-sizing : border-box;
}

/* 헤더 h1 태그 서식 시작 */
.logo {
  line-height : 120px;
}

.logo a {
}

/* 헤더 로고 이미지 서식 시작 */

.logo img {
  width : 180px;
  margin-top : calc( (120px - 41px)/2 ) ;
}

/* 헤더 h1 태그 서식 끝 */



/* 검색박스 서식 시작 */


/* 검색박스 서식 끝 */

/* 우측 토글버튼 서식 시작 */

.gnb_btn {
  display : block;
  cursor : pointer;
  margin-top : calc( ( 120px - 44px ) / 2 );
  margin-right : calc( ( 120px - 44px ) / 2 );
}


